#! /usr/bin/make -f

export V=1
export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = nostrip
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_clean:
	if test -f config.mak; then $(MAKE) clean; fi

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-smp

override_dh_installinit:
	dh_systemd_enable -ppgbouncer --name=pgbouncer pgbouncer.service
	dh_systemd_start -ppgbouncer --no-restart-on-upgrade

